* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.headercontainer {
  background-color: #152e51;
  width: 100%;
}

.clearfix {
  width: 80%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  margin-top: 30px;
  float: left;
  width: 10%;
}

.navigator {
  float: left;
  width: 60%;
}

.navbar::after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  text-align: center;
}

li {
  list-style: none;
  float: left;
  padding: 0 30px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 45px;
}

.signin {
  float: left;
  width: 30%;
  color: #fff;
  text-transform: uppercase;
}

.login  {
  padding: 10px;
  border-radius: 5%;
  margin: 30px;
  color: white;
  font-size: 20px;
  border: 1px solid #fff;
  background-color: transparent;
}

.plane {
  padding: 5px;
  border-radius: 5%;
  color: white;
  font-size: 12px;
  border: none;
  background-color: green;
}


.login, .plane:hover {
  cursor: pointer;
}

/* seconda parte header  */


.down-header {
  height: 70%;
}

.title {
  position: relative;
  width: 50%;
  z-index: 99;
  color: #fff;
  font-size: 30px;
  text-shadow: 2px 2px #000;
  margin-left: 50px;
}

.title > button {
  background-color: green;
  padding: 10px;
  border-radius: 5%;
  margin: 30px;
  color: white;
  font-size: 20px;
  border: none;
}

.title:hover > button {
  cursor: pointer;
}

.jumbo {
  position: relative;
  background-image: url(../img/fluentify-jumbo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.banner {
  background-color: lightgrey;
  position: relative;
  padding: 60px;
  text-align: center;
}

.textbanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h5 {
  font-size: 30px;
  padding-top: 10px;
}

.textbanner > p {
  font-size: 20px;
  color: darkgrey;
  padding: 10px;
}

main {
  padding-top: 40px;
}

.maincontainer {
  padding: 20 50px;
  border-bottom: 2px solid darkgrey;
}

.maincontainer::after {
  content: "";
  display: table;
  clear: both;
}

section {
  float:left;
  width: calc(100%/3);
  text-align: center;
}


h3 {
  color: green;
  padding: 30px;
  text-transform: uppercase;
}

#piano {
  background-image: url(../img/fluentify-piano.svg);
}

#affiancamento {
  background-image: url(../img/fluentify-affiancamento.svg);
}

#monitora {
  background-image: url(../img/fluentify-monitora.svg);
}

.photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding: 30px;
}

section > p {
  padding: 30px;
}

.secondmain {
  padding: 30px 50px;
}

.secondmain{
  content: "";
  display: table;
  clear: both;
}

.scopri {
  float: left;
  background-image: url(../img/fluentify-scopri.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding: 30px;
  width: 60%;
}

.scopri-title {
  float: left;
  width: 40%;
}

.scoprititle > a {
  padding: 30px;
  margin-top: 30px;
}

.footercontainer {
  background-color: darkgrey;
}

.footercontainer::after {
  content: "";
  display: table;
  clear: both;
}

#footer-left {
  font-size: 30px;
  font-weight: bold;
}

.footer-size {
  padding: 40px;
  float: left;
  width: 50%;
  text-align: center;
}

span > button {
  background-color: green;
  padding: 10px;
  border-radius: 5%;
  margin: 10px;
  color: white;
  font-size: 10px;
  border: none;
}

span:hover > button {
  cursor: pointer;
}
